

#block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 4% 20% 0 20%;
    padding: 0px 50px 50px 50px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;

    background: #232323;
}

#block-content {
    width: 100%;
}

#title {
    text-align: left;
    font-size: 38px;
    padding-bottom: 0;
    margin-bottom: 5px;
    border: none;
}

#separator {
    margin: 0;
    padding: 0;
    height: 0;
    width: 120px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 40px;
}

.parameter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 2px;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

.parameter-name {
    font-size: 26px;
    padding-top: 5px;
    margin: 0;
}
.parameter-percentage {

    font-size: 32px;
    margin: 0;
}

/* MODAL */

#questionaire_modal {
 background-color: rgba(27, 27, 27, 0.74);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 99;
 overflow: auto;
 display: none;
}

#questions {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 60px auto;
    padding: 0;
    background-color: rgb(145, 141, 141);
}

fieldset {
    border: none;
}

#questions h2 {
    text-align: center;
}

.question_wrapper {
    margin: 15px;
    display: flex;
    margin-top: 30px;
}

.question_wrapper label {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 20px 0 10px;
}

.question_wrapper button {
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}

#title_modal {
    background-color: #465D57;
}

#description {
    font-size: 20px;
}

button {
    cursor: pointer;
    height: 40px;
}